<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pang.hatsune">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 联网权限。. -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 检查网络状态权限 -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 文件存取权限 -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- android:name=".imageloader_optoins.ImageloaderApplication" -->
    <application
        android:name=".fresco.FrescoAppliacationPang"
        android:allowBackup="true"
        android:icon="@drawable/hatsune_app_logo_red"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name=".activity.aboutActivity">
        </activity>
    </application>

</manifest>
